*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#hea{
    font-family: 'East Sea Dokdo', cursive; 
    font-size: 80px;
    box-shadow: 20px 20px 60px rgba(76, 0, 255, 0.329);
    text-align: center;
    background-image: url(mm.jpeg);
    background-size: cover;
    width: 100vw;
}

#hg{
    width: 80vw;
    height: 60px;
    background-color: tomato;
    font-family: 'Xanh Mono', monospace;
    color:wheat ;
}
#timedisplay{
    width: 2vw;
    font-family: 'Kufam', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Xanh Mono', monospace;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    color: black;
    text-align: center;
    background-color: rgba(255, 0, 200, 0.993);
}
#alrt{
    display: none;
    text-align: center;
    font-size: 1vw;
}
#rnd{
    text-align: center;
    font-size: 3vw;
    
}
#bc{
    display: flex;
    flex-direction:column;
    align-items: center;

    
}
#txt{
    width: 80vw;
    height: 60vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    color: white;
    background-color: black;
    text-align: end;


}
#btn{
    width: 200px;
    font-family: 'Kufam', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Xanh Mono', monospace;
    font-size: 30px;
    color: black;
    background-color: rgba(76, 0, 255, 0.356);
}
#typee{
    font-size: 30px;
    background-color: black;
    color: red;
    width: 80vw;
    text-align: center;
}
@media(max-width: 1100px){
    #hea{
        font-size: 4vw;
    }
}
@media(max-width: 608px){
    #hea{
        font-size: 9vw;
        height: 10vh;
    }
    #rnd{
        font-size: 5vw;
        
    }
    #txt{
        width: 100vw;
        font-size: 5vw;
        height: 50vh;
        
    }
    #alrt{
        font-size: 6vw;
    }
    #hg{
        width: 100vw;
    }
    #btn{
        width: 100vw;
    }
    }
    